<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        tools:remove="android:appComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="HealthyExpert"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleMapAPIKey" />
        <activity
            android:name=".view.period.Period"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.medication.MedicationSetting"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.medication.MedicationAdd"
            android:exported="false" />
        <activity
            android:name=".view.medication.Medication"
            android:exported="false" />
        <activity
            android:name=".view.training.TrainSetting"
            android:exported="false" />
        <activity
            android:name=".view.training.TrainRecord"
            android:exported="false" />
        <activity
            android:name=".view.training.TrainAdd"
            android:exported="false" />
        <activity
            android:name=".view.training.Train"
            android:exported="false" />
        <activity
            android:name=".view.heart.Heart"
            android:exported="false" />
        <activity
            android:name=".view.sleep.Sleep"
            android:exported="false" />
        <activity
            android:name=".view.water.WaterAdd"
            android:exported="false" />
        <activity
            android:name=".view.water.WaterSetting"
            android:exported="false" />
        <activity
            android:name=".view.water.Water"
            android:exported="false" />
        <activity
            android:name=".view.walk.WalkSetting"
            android:exported="false" />
        <activity
            android:name=".view.walk.Walk"
            android:exported="false" />
        <activity
            android:name=".view.calories.CaloriesSetting"
            android:exported="false" />
        <activity
            android:name=".view.calories.CaloriesEdit"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.calories.CaloriesAdd"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.calories.Calories"
            android:exported="true"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.setting.Setting"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.sidebar.Sidebar"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.home.Home"
            android:exported="true"
            android:theme="@style/Theme.Main">
        </activity>
        <activity
            android:name=".view.resetPwd.ResetPwd"
            android:exported="true"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.signup.Signup"
            android:exported="true"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".view.login.Login"
            android:exported="true"
            android:theme="@style/Theme.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>